.catalog{
    
    &__heading {
        padding: 30px;  
    }

    &__filter {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 328px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}
