@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2')
}

@font-face {
    font-family: "Proxima Nova";
    font-style: semi-bold;
    font-weight: 600;
    src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2')
}

@font-face {
    font-family: "Proxima Nova";
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/ProximaNova-Bold.woff2') format('woff2')
}