.header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 30px;

    &__nav ul {
      display: flex;
      gap: 15px;
      padding: 15px 0;
    }

    &__cart {
      padding: 5px;
      background-color: #1C6CD5;
      border-radius: 5px;
      color: white;
    }

    &__logo img {
      width: 300px;
    }
}