.card {
    padding: 20px;
    background-color: #F2F3F4;
    max-width: 328px;
    max-height: 412px;
    border-radius: 12px;

    &__img {
        margin-bottom: 24px;
        width: 100%;
    }

    &__label {
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__name {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 24px;
    }
}